.DS_Store
writeup/*.bst
writeup/*.aux
writeup/*.log
writeup/*.synctex.gz
writeup/*.toc
writeup/spatialpopgen.pdf
writeup/*.blg
writeup/*.bbl
writeup/*.out
.*.swp
writeup/figs/spatial_pedigree/gen_output/
writeup/annotated_biblio.pdf
figs.pdf
writeup/*.pdf
*.docx
reviews/
